@use "./theme-colors" as *;
#side-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 260px;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 500;
  z-index: 14;
  height: 100%;
}
.section-header {
  font-size: 0.9rem;
}

.logo {
  display: flex;
  img {
    max-width: 36px;
  }
  height: 4.45rem;
}
.brand-text {
  color: #7367f0;
  font-weight: 600;
  letter-spacing: 0.01rem;
  font-size: 1.45rem;
}
.nav-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1.1rem;

  height: calc(100% - 4.45rem) !important;
  // position: relative;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;

  top: 0px;
  height: 698px;
  right: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
  height: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-item {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.2rem;
  @include clickable();
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  h3 {
    margin: 0;
  }
}

.nav-item:hover {
  transform: translate(1rem, 0);
  transition: all 0.25s ease-in;
}

.section-header {
  margin: 2.286rem 0 0.8rem 2.2rem;
}
.sub {
  list-style-type: circle;
}

@media screen and (max-width: 1024px) {
  #side-menu {
    display: none;
  }

  #side-menu.show {
    display: block;
  }
}
