@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@100&display=swap");

$bckg-color: #161d31;
$grey-on-dark: #d0d2d6;
$grey2-on-dark: #b4b7bd;
$grey3-on-dark: #676d7d;
$card-on-dark: #283046;
$shadow: rgba(34, 41, 47, 0.1);
$grey: #6e6b7b;
$grey2: #5e5873;
$grey3: #a6a4b0;
$light-grey: #f8f8f8;
$purple: #7367f0;
$boxshadow: 0 4px 24px 0 $shadow;

$font-family: "Montserrat", Helvetica, Arial, serif;
body {
  background-color: $bckg-color;
  font-family: $font-family !important;
  font-weight: 500;
  color: $grey-on-dark;

  button {
    font-family: $font-family !important;
    font-weight: 500;
  }

  #filters,
  a {
    color: $grey2-on-dark;
  }
  .card {
    background-color: $card-on-dark;
  }
  .search {
    background-color: $card-on-dark;
    color: $grey2-on-dark;
  }
  .cart-item {
    img,
    .count {
      background: $bckg-color;
    }
  }
  .navbar {
    color: $grey-on-dark;
  }

  .btn-wishlist {
    background-color: #161d31 !important;
    color: #fff;
  }

  #side-menu {
    background-color: $card-on-dark;
    color: $grey-on-dark;
    .section-header {
      color: $grey3-on-dark;
    }
  }
}
body.light-mode {
  $bckg-color: #f8f8f8;
  color: $grey;
  background-color: $bckg-color;
  font-weight: 400;

  #filters {
    color: $grey2;
  }
  a {
    color: $grey;
  }
  .card {
    background-color: white;
  }
  .cart-item {
    img {
      background: #f8f8f8;
    }
    .count {
      background: white;
    }
  }
  .search {
    background-color: white;
    color: $grey;
  }

  .navbar {
    color: $grey;
  }

  .btn-wishlist {
    background-color: #f6f6f6 !important;
    color: #2a2e30;
  }

  #side-menu {
    background-color: white;
    color: $grey;
    opacity: 1;
    .section-header {
      color: $grey3;
    }
  }
}
//todo select sort in controls

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
}

p {
  font-weight: 400;
}

a {
  font-weight: 600;

  text-decoration: none;
}

a:hover {
  color: $purple !important;
}

@mixin clickable() {
  cursor: pointer;
}

@mixin btnSettings() {
  background-color: $purple;
  color: white;
  border-radius: 0.358rem;
  border: 1px solid transparent;
  padding: 0.8rem;
}
