@import "./styles/theme-colors";

.content {
  margin-left: 260px;
  padding: 2rem;
}
.content-overlay {
  // display: none;
  opacity: 0;
}
.content-overlay.show {
  // display: block;
  position: fixed;
  left: 260px;
  z-index: 13;
  background-color: rgba(34, 41, 47, 0.5);
  border-radius: 0.1785rem;
  width: calc(100% - 260px);
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  cursor: pointer;
}

#btn-settings {
  @include btnSettings();
  position: fixed;
  float: right;
  right: 0;
  top: 20rem;
  z-index: 25;
}

#cog {
  animation: rot 2s ease-in 0s infinite normal;
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(365deg);
  }
}

@media screen and (max-width: 1024px) {
  .content {
    margin-left: 0px;
  }
}
